<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="hc10_camera" params="prefix">
    <link name="${prefix}camera_rgb_frame">
      <visual>
        <geometry>
            <box size="0.1 0.1 0.1"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
            <box size="0.1 0.1 0.1"/>
        </geometry>
      </collision>
    </link>
    <xacro:include filename="$(find motoman_hc10_support)/urdf/kinect_camera.gazebo"/>

    </xacro:macro>
</robot>